S3method(print,summary.lmer.boot)
S3method(print,summary.lmer.bootlr)
S3method(summary,lmer.boot)
S3method(summary,lmer.bootlr)
S3method(update,lmer.boot)
export(lmer.boot)
export(lmer.bootlr)
export(ranef.reflate)
export(resamp.resid)
import(parallel)
importMethodsFrom(Matrix,t)
